body{
  background: black;
  overflow-x: hidden;
}

canvas {
  display: block;
  background-color: black;
}

.controllers-accordion{
  background-color: #101010;
  outline: none;
  border: none;
  box-shadow: none !important;
}
.custom-accordion-header{
  background-color: #101010 !important;
}
.custom-accordion-header h4{
  color: white;
  font-weight: 700;
  margin-top: 10px;
  text-decoration: none !important;
  text-transform: uppercase;
}
h5{
  color: white;
  font-weight: 600 !important;
  margin-top: 20px !important;
  text-transform: uppercase;
}
.custom-accordion-header:focus{
  box-shadow: none !important;
}
.controllers-accordion-body{
  background-color: #101010;
}

